.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  font-size: inherit;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.blc {
  font-size: 70px;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: auto;
  vertical-align: top;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.text-white {
  /*color: #000000!important;*/
}

body {
  font-family: 'purista-web';
  font-size: 1.5rem;
}

.text-center {
  /*text-align: left!important;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: sui-generis;
  font-weight: 800!important;
}

.h1, h1 {
  /*font-size: 5px;*/
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.footer {
  position: sticky!important;
  width: 100%;
  left: 0;
  bottom: 0;
  color: maroon;
  text-align: center;
  background-color: green;
  padding-bottom: 0rem!important;
}

.text-pink {
  color: #ffffff;
}

h3 {
  font-family: 'purista-web';
  color: rgb(0,0,0);
}

.intro {
}

@media (min-width: 400px) {
  .flex-grow-1 {
    height: 500px!important;
  }
}

@media (min-width: 300px) {
  .flex-grow-1 {
    height: 200px;
  }
}

@media (min-width: 300px) {
  .small {
    font-size: 14px;
  }
}

.name {
  font-family: sui-generis;
  color: rgb(0,0,0);
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #000000;
  --primary: #ee0979;
  --secondary: #ff6a00;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #ee0979;
  --secondary: #ff6a00;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #ee0979;
  --secondary: #ff6a00;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.img-fluid:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 20px #000000;
}

.img-fluid:hover {
  color: #ffee10;
  box-shadow: 0 0 20px rgba(220,2,255,0.35);
  transform: scale(1.1);
}

.img-fluid {
  transition: .75s;
}

.nav-link:hover {
  text-shadow: 0 0 5px #ffffff;
}

.nav-link {
  transition: 1s;
}

.navbar-brand {
  transition: 1s;
}

.navbar-brand {
  transition: 1s;
}

@keyframes animateBar {
  0% {
    /*background-position: 0% 0%;*/
  }
  100% {
    /*background-position: 0% 100%;*/
  }
  50% {
    background-position: 100% 50%;
  }
}

.bar {
  position: fixed;
  animation: animateBar 1s linear infinite;
  background-image: linear-gradient(0deg,#5cc1cf,#c14aae,#5cc1cf);
  background-size: 100% 1100%;
  height: 8vh;
  width: 100%;
  z-index: 4;
}

&::after {
  position: absolute;
  content: "";
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient( 60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%) );
  background-size: 300% 300%;
  background-position: 0 50%;
  animation: banimateBar 1s alternate infinite;
}

.name {
  height: 38.4px;
}

h2 {
  font-size: 24px;
  text-align: left;
}

h2 {
  color: black !important;
}

p {
  text-align: left;
}

h1 {
  /*color: black !important;*/
}

.date {
  font-family: 'purista-web';
}

a {
}

span {
  font-family: 'purista-web';
}

p {
  font-family: 'purista-web';
}

@media (min-width: 1200px) {
  .article-clean {
    /*margin-right: 395px;*/
    /*margin-left: 395px;*/
  }
}

