.swiper-container {
    width: 100%;
    height: 80vh;
}
.swiper-slide {
    background: #ffa4a4;
    background-size: cover;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.footer {
    z-index: 7;
}